@font-face {
  font-family: "Cleveland";
  src: url("fonts/Cleveland.ttf");
}

body {
  background-color: #241b30;
}

.container {
  background-color: #252335;
}

#sun {
  width: 50rem;
  height: 25rem;
  background-color: orange;
  border-top-left-radius: 25rem;
  border-top-right-radius: 25rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 4rem;
}

h1 {
  color: #c763b0;
  font-family: Cleveland;
  text-align: center;
  font-weight: 800;
  line-height: 1.5rem;
  margin-top: 1rem;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  background-color: #675c9f;
  color: #252335;
  padding-top: 5px;
  margin: 0 auto;
}

h4 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #55cb89;
}

#fullstack {
  margin-top: 1rem;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: #55cb89;
  background-size: cover;
  padding-top: 2px;
}

h6 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #55cb89;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

p,
li {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: #dbd4db;
  text-align: justify;
}

a {
  font-family: "Josefin Sans", sans-serif;
  color: orange;
  text-decoration: none;
}

a:hover {
  color: #c763b0;
  text-decoration: none;
}

i {
  color: #1bacc3;
}

.v-nav {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 0;
  z-index: 2;
  width: 100%;
}

.v-navlink {
  color: #000000;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.v-navlink:hover {
  text-decoration: none;
  animation-name: pulldown;
  animation-duration: 0.25s;
  border-top: 6px solid #4682b4;
}

@keyframes pulldown {
  0% {
    border-top: 0px solid #ffffff;
  }
  10% {
    border-top: 0.5px solid #f0f5f9;
  }
  20% {
    border-top: 1px solid #d1e0ec;
  }
  30% {
    border-top: 1.5px solid #b2cbe0;
  }
  40% {
    border-top: 2px solid #a2c1da;
  }
  50% {
    border-top: 2.5px solid #93b6d3;
  }
  60% {
    border-top: 3px solid #84accd;
  }
  70% {
    border-top: 3.5px solid #74a1c7;
  }
  80% {
    border-top: 4px solid #6597c1;
  }
  90% {
    border-top: 4.5px solid #558cba;
  }
  100% {
    border-top: 5px solid #4682b4;
  }
}

#poweredby {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 14px;
  color: #1bacc3;
}

#react {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #55cb89;
}

.btn {
  color: #dbd4db;
  text-transform: lowercase;
}

.btn:hover {
  color: #c763b0;
  background-color: #252335;
}

.proj {
  background-color: #241b30;
  box-shadow: 5px 5px 7px #241b30;
  transition: all 0.2s ease-in-out;
  border: none;
}

.proj:hover {
  box-shadow: 5px 5px 12px #241b30;
  transform: scale(1.05);
}

#social a {
  text-decoration: none;
  color: #315b7e;
}

#social a:hover {
  text-decoration: none;
  color: steelblue;
}

#logo {
  text-transform: uppercase;
  font-size: 120px;
  line-height: 0.75;
  padding-top: 1.5rem;
}

html.sr .load-hidden {
  visibility: hidden;
}

#allison {
  border-radius: 100%;
  box-shadow: 10px 10px 8px #241b30;
  width: 65%;
  height: auto;
}

#imgcontainer {
  text-align: center;
}

#txtcontainer {
  text-align: left;
}

.aboutbtn {
  border: none;
  color: orange;
  padding: 0rem 1rem;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1rem;
  text-align: left;
  background-color: #252335;
}

#navbarbrand {
  color: #000000;
}

#navbarlogo {
  font-family: "Caveat Brush";
  letter-spacing: 0.5px;
  color: steelblue;
  font-size: 25px;
}

.menu {
  background-color: none;
}

.cardimg {
  opacity: 1;
}

strong {
  color: #c763b0;
}