p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h5 {
  font-family: "Caveat Brush", cursive;
  letter-spacing: 0px;
  text-transform: uppercase;
}

#poweredby {
  font-family: "Patrick Hand", cursive;
  text-align: center;
  font-size: 14px;
  color: steelblue;
}

#react {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

#react a {
  color: dodgerblue;
}

h4 {
  text-align: center;
  font-family: "Patrick Hand", cursive;
  letter-spacing: 0px;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-family: "Caveat Brush", cursive;
}

.card-header {
  background-color: #ffffff;
}

.btn {
  color: #000000;
}

.btn:hover {
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
}

.proj {
  box-shadow: 5px 5px 7px gray;
  transition: all 0.2s ease-in-out;
}

.proj:hover {
  box-shadow: 5px 5px 12px darkgray;
  transform: scale(1.05);
}

#social a {
  text-decoration: none;
  color: #000000;
}

#social a:hover {
  text-decoration: none;
}

.rainbow:hover{

  -webkit-animation:rainbow 1s infinite;
  -ms-animation:rainbow 1s infinite;
  -o-animation:rainbow 1s infinite;
  animation:rainbow 1s infinite;
  }
  @-webkit-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
  }
  @-ms-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
  }
  @-o-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
  }
  @keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
  }

  #logo {
    background-image: url('./img/clouds.gif');
    background-size: cover;
    background-position: center center;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
  }

  #logoImg {
    background-image: url('./img/logo.jpg');
  }

  html.sr .load-hidden {
    visibility: hidden;
}

#tabs {
  border-bottom: 0px;
}