body {
  background-size: cover;
  background-position: center;
  background: rgb(103, 142, 173);
  background: -moz-linear-gradient(
    90deg,
    rgba(103, 142, 173, 1) 0%,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 1) 90%,
    rgba(103, 142, 173, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(103, 142, 173, 1) 0%,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 1) 90%,
    rgba(103, 142, 173, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(103, 142, 173, 1) 0%,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 1) 90%,
    rgba(103, 142, 173, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#678ead",endColorstr="#678ead",GradientType=1);
}

.container {
  background-color: white;
}

.panel {
  background-color: white;
  padding-bottom: 120px;
}

h1 {
  font-family: "Caveat Brush";
  text-align: center;
  padding-bottom: 15px;
  font-weight: 800;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  background-color: steelblue;
  color: white;
  padding-top: 5px;
  margin: 100px 0px;
}

h4 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: #f0f5f9;
  background-size: cover;
  padding-top: 2px;
}

h6 {
  font-family: "Alegreya Sans SC", sans-serif;
  text-align: center;
  color: black;
}

p,
li {
  font-family: "Lucida Sans Typewriter", monospace;
  font-size: 14px;
}

a,
a:hover {
  text-decoration: none;
}

hr {
  margin-top: 40px;
  background-color: white;
}

.v-nav {
  position: fixed;
  top: 0;
  left: 5.5%;
  width: 89%;
  z-index: 20;
  background-color: white;
}

.v-navlink {
  padding: 1rem 1.5rem;
  color: #000000;
  background: white;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.v-navlink:hover {
  text-decoration: none;
  animation-name: pulldown;
  animation-duration: 0.25s;
  border-top: 6px solid #4682b4;
}

@keyframes pulldown {
  0% {
    border-top: 0px solid #ffffff;
  }
  10% {
    border-top: 0.5px solid #f0f5f9;
  }
  20% {
    border-top: 1px solid #d1e0ec;
  }
  30% {
    border-top: 1.5px solid #b2cbe0;
  }
  40% {
    border-top: 2px solid #a2c1da;
  }
  50% {
    border-top: 2.5px solid #93b6d3;
  }
  60% {
    border-top: 3px solid #84accd;
  }
  70% {
    border-top: 3.5px solid #74a1c7;
  }
  80% {
    border-top: 4px solid #6597c1;
  }
  90% {
    border-top: 4.5px solid #558cba;
  }
  100% {
    border-top: 5px solid #4682b4;
  }
}

#poweredby {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 14px;
  color: steelblue;
}

#react {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.card-header {
  background-color: #ffffff;
}

.btn {
  color: steelblue;
  background-color: white;
  text-transform: lowercase;
}

.btn:hover {
  color: dodgerblue;
  background-color: white;
}

i {
  color: steelblue;
}

.proj {
  box-shadow: 5px 5px 7px gray;
  transition: all 0.2s ease-in-out;
}

.proj:hover {
  box-shadow: 5px 5px 12px darkgray;
  transform: scale(1.05);
}

#social a {
  text-decoration: none;
  color: #315b7e;
}

#social a:hover {
  text-decoration: none;
  color: steelblue;
}

#logo {
  background-image: url("./img/clouds.gif");
  background-size: cover;
  background-position: center center;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: 0.75;
  margin: 10px 0;
  padding-top: 100px;
}

#logoImg {
  background-image: url("./img/logo.jpg");
}

html.sr .load-hidden {
  visibility: hidden;
}

#allison {
  border-radius: 100%;
  box-shadow: 10px 10px 8px #888888;
  width: 65%;
  height: auto;
}

#imgcontainer {
  text-align: center;
}

#txtcontainer {
  text-align: left;
}

#home {
  margin-top: 75px;
  margin-bottom: 100px;
}

.aboutbtn {
  background-color: white;
  border: none;
  color: #000000;
  padding: 0rem 1rem;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1rem;
  text-align: left;
}

#navbarbrand {
  padding: 0.5rem 1rem;
  color: #000000;
  background: white;
}

#navbarlogo {
  font-family: "Caveat Brush";
  letter-spacing: 0.5px;
  color: steelblue;
  font-size: 25px;
}

/*.rainbow:hover {
  -webkit-animation: rainbow 2s infinite;
  -ms-animation: rainbow 2s infinite;
  -o-animation: rainbow 2s infinite;
  animation: rainbow 2s infinite;
}
@-webkit-keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
@-ms-keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
@-o-keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
@keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}*/
